/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding: 5px;
}

.group img {
  width: 100%;
  padding: 5px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  position: absolute;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  margin-left: 58%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 768px) {
  h2 {
    text-align: center;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    display: flex;
    align-self: flex-end;
    margin-bottom: auto;
  }

  img {
    max-width: 25%;
  }

  .group2 {
    display: flex;
    flex-direction: row;
  }
  .item {
    margin-top: 55px;
    vertical-align: middle;
  }

  .logo {
    display: flex;
    font-family: "Pangolin", cursive;
    font-size: 30px;
    color: #fff;
    align-self: flex-start;
    margin-top: 10px;
  }

  .item3 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .item3 img {
    max-width: 95%;
  }

  .group3 {
    display: flex;
    flex-wrap: wrap;
  }

  .group4 {
    display: flex;
    flex-direction: row;
  }

  .item4 {
    max-width: 50%;
    margin-top: 65px;
    vertical-align: middle;
    font-size: small;
  }
  .item5 {
    max-width: 50%;
    vertical-align: middle;
    justify-content: end;
  }

  .item5 img {
    max-width: 95%;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  form select,
  form input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }
}
form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
 
}
